In [1]:
# Load all dependencies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as stats
import statsmodels.formula.api as sm
from mpl_toolkits.mplot3d import Axes3D
%matplotlib notebook
%matplotlib inline

In [17]:
df = pd.read_csv('/Users/larsboesch/Desktop/FS22/DataScience/project/datascience/workspace/regression/co2_pm25_deathrates_cleaned.csv')

In [18]:
df["category"] = df["country"].astype("category")

In [19]:
df = df.drop(['Unnamed: 0'], axis=1)

In [20]:
df

,country,year,co2,co2_per_capita,"PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)",Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: All Ages (Number),rate Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: All Ages (Number),category
0,Africa,1990,659.295,1.052,46.719096,169060,26.820034,Africa
1,Africa,1991,689.026,1.068,46.530559,173284,26.768455,Africa
2,Africa,1992,668.677,1.010,46.342022,177903,26.771976,Africa
3,Africa,1993,708.858,1.043,46.153485,183152,26.860278,Africa
4,Africa,1994,719.623,1.029,45.964949,188664,26.973370,Africa
...,...,...,...,...,...,...,...,...
107,North America,2013,6714.924,12.106,8.641443,70771,12.666808,North America
108,North America,2014,6753.943,12.063,8.142226,68018,12.062615,North America
109,North America,2015,6612.704,11.704,7.973350,66704,11.724851,North America
110,North America,2016,6471.360,11.353,7.321048,64353,11.214949,North America
111,North America,2017,6412.982,11.155,7.311075,62260,10.760773,North America

In [21]:
df.to_csv('co2_pm25_deathrates_category.csv')

In [12]:
w_param = 'category'
x_param = 'co2'
y_param = 'PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)'
z_param = 'rate Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: All Ages (Number)'

In [13]:

df = pd.DataFrame({'x': df[x_param],
                   'y': df[y_param],
                   'z': df[z_param],
                   'w': df[w_param]
                  })

# linear regression fit
reg = sm.ols(formula='z ~ x + y + w', data=df).fit()
print(reg.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      z   R-squared:                       0.954
Model:                            OLS   Adj. R-squared:                  0.952
Method:                 Least Squares   F-statistic:                     442.7
Date:                Tue, 03 May 2022   Prob (F-statistic):           2.65e-69
Time:                        18:08:17   Log-Likelihood:                -336.78
No. Observations:                 112   AIC:                             685.6
Df Residuals:                     106   BIC:                             701.9
Df Model:                           5
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept            -20.9683     12.926     -1.622      0.108     -46.595       4.658
w[T.Asia]             -4.7639      2.847     -1.673      0.097     -10.409       0.881
w[T.Europe]           63.5625      8.673      7.329      0.000      46.368      80.757
w[T.North America]    15.4896     10.774      1.438      0.153      -5.871      36.851
x                      0.0022      0.000     10.310      0.000       0.002       0.003
y                      1.0543      0.289      3.646      0.000       0.481       1.628
==============================================================================
Omnibus:                        2.958   Durbin-Watson:                   0.307
Prob(Omnibus):                  0.228   Jarque-Bera (JB):                2.534
Skew:                          -0.207   Prob(JB):                        0.282
Kurtosis:                       3.610   Cond. No.                     3.21e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.21e+05. This might indicate that there are
strong multicollinearity or other numerical problems.